/*
COLORS
dark red: #A82208
green: #B7F63D
light red: #F44625
blue: #003EC1
cornflowerblue: #5570A8

Light yellow: F6E559;
pink: F49DC6;
cyan: 0692A8;
light blue: 69B5C1;
fuschia: A8004F;
*/

.container {
	width: 85%;
	margin: 0 auto;
}

a {
	color: white;
}

a:hover {
	color:#F49DC6;
}

img {
	width: 400px;
	height: 400px;
	padding: 25px;
	background-color: #333;
}

h3 {
	color: #white;
}

div.navigation {
	padding: .8rem;
	min-height: 1.6rem;
	color: #fff;
	margin-bottom: 1.6rem;
	margin-top:.8rem;
	background-color: #0692A8;
	border: 4px solid #F6E559;
}

.navigation a {
	text-decoration: underline;
	text-align: right;
}

div.main {
	/* make this a subtle color */
	
}

div.usertools {
	padding: 1.6rem;
	background-color: #0692A8;
	border: 4px solid #F6E559;
}

div.decoration {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #F49DC6;
}
.usertools ul{
	font-size: 1.6rem;
	list-style-type: none;
	padding-left: 1.6rem;


}


div.main-content {
	padding-left: 1.6rem;
}

ul.pagination > li {
	display: inline;
}

.pagination a.false {
	color: #000;
	cursor: default;
}

.pagination a.false:hover, a.false:focus {
	color: #000;
	cursor: default;
	background-color: inherit;
}

div.content {
	margin-left: 1.6rem;
}

ul.products {
	text-align: center;
}

.content ul.products li {
	display: inline-block;
	vertical-align: top;
	margin: .2rem;
	padding: .8rem;
}

div.product{
	border: solid 1px black;
}

.product p.price {
	text-align: right;
	vertical-align: middle;
	background-color: #fff;
	opacity: 0.6;
	padding: .2rem;
	line-height: 1.6rem;
	margin: -2rem 0 0 0;
}

.products p.product-name {
	margin: .8rem 0; 
}

ul.footer{
	margin-left: 25%;
}

#page_links {
	width: 85%;
}
